<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianqu.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.xianqu.bean.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
    </resultMap>

    <select id="getAll" resultMap="UserResultMap">
        SELECT id, username, password FROM t_b_user
    </select>

    <resultMap id="userVoMap" type="com.xianqu.vo.UserVo">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <collection property="Roles" ofType="com.xianqu.bean.Role">
            <id property="id" column="id"/>
            <result property="roleName" column="role_name"/>
        </collection>
    </resultMap>

    <select id="findUserByName" resultMap="userVoMap">
        SELECT u.id, u.username, u.password, r.id, r.role_name
        FROM t_b_user u LEFT JOIN t_b_user_role ur ON u.id = ur.uid LEFT JOIN t_b_role r ON ur.rid = r.id
        WHERE username = #username#
    </select>
</mapper>